.sidebar{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #ececec;
}

.sidebar ul li {
    list-style-type: none;
}

.sidebar a {
    color: rgba(0, 0, 0, 0.795);
    font-weight: bold;
}